<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    <body>
        <div class="content-wrapper row">
            {% include header.html %}
            <div class="align-self-stretch columns small-12">
                <div class="row">
                    <div class="small-12 medium-6 columns text-center profil-picture align-self-middle">
                        Olá
                    </div>
                    <div class="small-12 medium-6 columns">
                        Olá
                    </div>
                </div>
            </div>
            {% include footer.html %}
        </div>

        {% include script.html %}
    </body>
</html>